name: tests

on:
  push:
    branches: [main, test-me-*]
    tags: '**'
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    name: tests (${{ matrix.os }}, ${{ matrix.python }})
    timeout-minutes: 10

    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          python: '3.14'
    runs-on: ${{ matrix.os }}

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.DOCKER_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.DOCKER_AWS_SECRET_ACCESS_KEY }}
      CLIENT_ID: ${{ secrets.DOCKER_CLIENT_ID }}
      CLIENT_SECRET: ${{ secrets.DOCKER_CLIENT_SECRET }}
      CLIENT_SCOPE: ${{ secrets.DOCKER_CLIENT_SCOPE }}
      DEFAULT_SERVERS: ${{ secrets.DOCKER_DEFAULT_SERVERS }}
      SERVER_CLIENT_ID: ${{ secrets.DOCKER_SERVER_CLIENT_ID }}
      SERVER_SECRET: ${{ secrets.DOCKER_SERVER_SECRET }}
      AWS_ACCOUNT_ID: ${{ secrets.DOCKER_AWS_ACCOUNT_ID }}
      AWS_ACCOUNT_REGION: ${{ secrets.DOCKER_AWS_ACCOUNT_REGION }}
      MSK_CLUSTER_NAME: ${{ secrets.DOCKER_MSK_CLUSTER_NAME }}
      MSK_CLUSTER_ARN_SUFFIX: ${{ secrets.DOCKER_MSK_CLUSTER_ARN_SUFFIX }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Get pip cache dir
        id: pip-cache-dir
        run: echo "PIP_CACHE_DIR=$(pip cache dir)" >> $GITHUB_ENV

      - name: Use pip cache
        id: pip-cache
        uses: actions/cache@v4
        with:
          path: ${{ env.PIP_CACHE_DIR }}
          key: tests-${{ matrix.os }}-pip-${{ matrix.python }}-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            tests-${{ matrix.os }}-pip-${{ matrix.python }}-

      - name: Install Packages
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install -e ".[dev]"

      - name: Run Tests
        run: pytest web_service_v3/test_main.py -v
